---
Language: Cpp
Standard: c++20
BasedOnStyle: Google
AccessModifierOffset: -2
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
BraceWrapping:
  BeforeElse: true
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyNamespace: true
  SplitEmptyRecord: true
BreakBeforeBraces: Custom
ColumnLimit: 80
DerivePointerAlignment: false
IncludeCategories:
  # The base style already correctly handles system includes
  # C-style third-party includes
  - Regex: '^<.*\.(h|hpp)>'
    Priority: 10
  # General external and project includes
  - Regex: '^".*"'
    Priority: 20
IndentWidth: 4
KeepEmptyLinesAtTheStartOfBlocks: true
PenaltyBreakString: 100
...
