FormatStyle: Google
Checks: >-
  *,-abseil-*,-altera-*,-android-*,-boost-*,-cert-*,-darwin-*,-fuchsia-*,-linuxkernel-*,-llvm-*,-llvmlibc-*,-mpi-*,-objc-*,-zircon-*
WarningsAsErrors: >-
  bugprone-*,-bugprone-easily-swappable-parameters,-bugprone-unchecked-optional-access,-bugprone-unhandled-exception-at-new,-bugprone-empty-catch,-bugprone-exception-escape,
  clang-analyzer-*,-clang-analyzer-cplusplus.NewDeleteLeaks,-clang-analyzer-cplusplus.StringChecker,
  clang-diagnostic-*,-clang-diagnostic-unused-command-line-argument,
  hicpp-*,
  performance-*,-performance-avoid-endl,
  portability-*,
CheckOptions:
  - { key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic, value: '1' }
