FormatStyle: Google
Checks: '*,-abseil-*,-altera-*,-android-*,-boost-*,-cert-*,-darwin-*,-fuchsia-*,-linuxkernel-*,-llvm-*,-llvmlibc-*,-mpi-*,-objc-*,-zircon-*'
WarningsAsErrors: 'clang-diagnostic-*,-clang-diagnostic-unused-command-line-argument,clang-analyzer-*,-clang-analyzer-cplusplus.NewDeleteLeaks,-clang-analyzer-cplusplus.StringChecker,bugprone-*,-bugprone-easily-swappable-parameters,-bugprone-unchecked-optional-access,-bugprone-narrowing-conversions,-bugprone-unhandled-exception-at-new,-bugprone-empty-catch,-bugprone-optional-value-conversion,-bugprone-implicit-widening-of-multiplication-result,-bugprone-exception-escape,portability-*,hicpp-*,performance-*,-performance-avoid-endl,-performance-enum-size'
CheckOptions: [
  {
    key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic,
    value: '1'
  }
]
