{ "just provide":
  { "expression":
    { "type": "RESULT"
    , "provides": {"type": "singleton_map", "key": "foo", "value": "bar"}
    }
  }
, "provide variable FOO":
  { "config_vars": ["FOO"]
  , "expression":
    { "type": "RESULT"
    , "provides":
      { "type": "singleton_map"
      , "key": "foo"
      , "value": {"type": "var", "name": "FOO"}
      }
    }
  }
, "transition FOO":
  { "config_fields": ["value"]
  , "target_fields": ["deps"]
  , "config_transitions":
    { "deps":
      [ { "type": "singleton_map"
        , "key": "FOO"
        , "value": {"type": "join", "$1": {"type": "FIELD", "name": "value"}}
        }
      ]
    }
  , "expression":
    { "type": "RESULT"
    , "provides":
      { "type": "singleton_map"
      , "key": "transitioned deps"
      , "value":
        { "type": "foreach"
        , "var": "x"
        , "range": {"type": "FIELD", "name": "deps"}
        , "body":
          { "type": "DEP_PROVIDES"
          , "dep": {"type": "var", "name": "x"}
          , "transition":
            { "type": "singleton_map"
            , "key": "FOO"
            , "value":
              {"type": "join", "$1": {"type": "FIELD", "name": "value"}}
            }
          , "provider": "foo"
          }
        }
      }
    }
  }
, "collect deps":
  { "target_fields": ["deps"]
  , "expression":
    { "type": "RESULT"
    , "artifacts":
      { "type": "disjoint_map_union"
      , "$1":
        { "type": "foreach"
        , "var": "x"
        , "range": {"type": "FIELD", "name": "deps"}
        , "body":
          {"type": "DEP_ARTIFACTS", "dep": {"type": "var", "name": "x"}}
        }
      }
    }
  }
, "collect deps as runfiles":
  { "target_fields": ["deps"]
  , "expression":
    { "type": "RESULT"
    , "runfiles":
      { "type": "disjoint_map_union"
      , "$1":
        { "type": "foreach"
        , "var": "x"
        , "range": {"type": "FIELD", "name": "deps"}
        , "body":
          {"type": "DEP_ARTIFACTS", "dep": {"type": "var", "name": "x"}}
        }
      }
    }
  }
, "text file":
  { "string_fields": ["name", "content"]
  , "target_fields": ["analyze"]
  , "expression":
    { "type": "RESULT"
    , "artifacts":
      { "type": "singleton_map"
      , "key": {"type": "join", "$1": {"type": "FIELD", "name": "name"}}
      , "value":
        { "type": "BLOB"
        , "data": {"type": "join", "$1": {"type": "FIELD", "name": "content"}}
        }
      }
    }
  }
, "symlink":
  { "string_fields": ["name", "content"]
  , "target_fields": ["analyze"]
  , "expression":
    { "type": "RESULT"
    , "artifacts":
      { "type": "singleton_map"
      , "key": {"type": "join", "$1": {"type": "FIELD", "name": "name"}}
      , "value":
        { "type": "SYMLINK"
        , "data": {"type": "join", "$1": {"type": "FIELD", "name": "content"}}
        }
      }
    }
  }
, "implicit file":
  { "implicit": {"script": ["implicit_script.sh"]}
  , "expression":
    { "type": "RESULT"
    , "artifacts":
      { "type": "disjoint_map_union"
      , "$1":
        { "type": "foreach"
        , "var": "x"
        , "range": {"type": "FIELD", "name": "script"}
        , "body":
          {"type": "DEP_ARTIFACTS", "dep": {"type": "var", "name": "x"}}
        }
      }
    }
  }
, "upper case":
  { "target_fields": ["srcs"]
  , "expression":
    { "type": "RESULT"
    , "artifacts":
      { "type": "disjoint_map_union"
      , "$1":
        { "type": "foreach"
        , "var": "input"
        , "range": {"type": "FIELD", "name": "srcs"}
        , "body":
          { "type": "disjoint_map_union"
          , "$1":
            { "type": "let*"
            , "bindings":
              [ [ "input_artifacts"
                , { "type": "DEP_ARTIFACTS"
                  , "dep": {"type": "var", "name": "input"}
                  }
                ]
              , [ "names"
                , { "type": "keys"
                  , "$1": {"type": "var", "name": "input_artifacts"}
                  }
                ]
              ]
            , "body":
              { "type": "foreach"
              , "var": "x"
              , "range": {"type": "var", "name": "names"}
              , "body":
                { "type": "let*"
                , "bindings":
                  [ [ "upper"
                    , { "type": "ACTION"
                      , "inputs":
                        { "type": "singleton_map"
                        , "key": "in"
                        , "value":
                          { "type": "lookup"
                          , "map": {"type": "var", "name": "input_artifacts"}
                          , "key": {"type": "var", "name": "x"}
                          }
                        }
                      , "outs": ["out"]
                      , "cmd": ["/bin/sh", "-c", "tr 'a-z' 'A-Z' < in > out"]
                      }
                    ]
                  ]
                , "body":
                  { "type": "singleton_map"
                  , "key": {"type": "var", "name": "x"}
                  , "value":
                    { "type": "lookup"
                    , "map": {"type": "var", "name": "upper"}
                    , "key": "out"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
, "action":
  { "string_fields": ["cmd", "outs", "out_dirs"]
  , "expression":
    { "type": "RESULT"
    , "artifacts":
      { "type": "ACTION"
      , "cmd": {"type": "FIELD", "name": "cmd"}
      , "outs": {"type": "FIELD", "name": "outs"}
      , "out_dirs": {"type": "FIELD", "name": "out_dirs"}
      }
    }
  }
}
